@{
    ViewBag.Title = "About the App";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>
    This app was created as part of a course at a coding academy.  The overall app was created during class and then the student modified it into the final product.
    The search feature was added and the styling was updated, by use of a bootstrap theme.  A hidden field was also implemented on the "Edit" page, since the NoteID
    was visible; the end user could alter the ID number, which would affect the database.

</p>
