@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NiftyNotes</h1>
    <p class="lead">All the Notes You Need for Your Nifty Life</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting Started:</h2>
        <p>
            If you're new to NiftyNotes, setup an account by entering in an e-mail and password. <br />
            Then just log in to begin creating your own notes.
        </p>
        <p><a class="btn btn-default" href="http://niftynote.azurewebsites.net/Account/Login">Let's Go! &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>App Features:</h2>
        <p>
            With NiftyNotes, organizing your life has never been easier.<br />
            <span>&sdot;</span> Search for your notes by Title, which makes them super easy to find.<br />
            <span>&sdot;</span> Mark your notes as "Starred," so you can see what's most important.<br />
            <span>&sdot;</span> View the details of your note, edit it, or delete it if you're done.
        </p>
        <!--Interested in knowing more about the person behind NiftyNotes?  As a developer with a design background, she's pretty nifty herself
            and she'd be happy be meet you!
            <br /> <br />Check out her website by clicking the button below.
        </p>
        <p><a class="btn btn-default" href="http://jenniferlawyer.com/" target="blank">Let's Go! &raquo;</a></p>-->
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>